.contact-us .contact-container{
    width: 650px;
    margin: auto;
}
.contact-us .contact-container .img{
    flex: .5;
}
.contact-us .contact-container .img img{
    width: 350px;
}
.contact-us .contact-container .text{
    flex: .5;
}
.contact-us .contact-container .text h5{
    text-transform: uppercase;
    color: var(--second-grey-color);
    font-size: 20px;
}
.contact-us .contact-container .text p{
    font-size: 13px;
}
.contact-us .contact-container .text button{
    border: 1px solid #000;
    outline: none;
    background-color: #fff;
    transition: All .3s;
}
.contact-us .contact-container .text button:hover{
    color: #fff;
    background-color: #000;
}
@media (max-width:776px){
    .contact-us .contact-container{
        width: 100% !important;
        flex-direction: column;
        align-items: start !important;
    }
    .contact-us .contact-container .img{
        flex: 1;
    }
    .contact-us .contact-container .img img{
        width: 100%;
    }
    .contact-us .contact-container .text{
        flex: 1;
    }
}