.footer img{
    width: 150px;
}
.footer p, 
.footer li{
    color: var(--second-grey-color);
    font-size: 13px;
    line-height: 2;
}
.footer li{
    text-transform: capitalize;
}
.footer h5{
    color: #000;
    text-transform: uppercase;
}
@media (max-width:996px) {
    .footer div{
        margin-bottom: 40px;
    }
}