.hero{
    height: calc(100vh - 71px);
    background-color: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
}
.hero .text, .hero .img{
    flex: 1;
}
.hero .text{
    padding-left: 70px;
}
.hero .text h1{
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: bold;
}
.hero .text .desc p{
    font-size: 12px;
    line-height: 1.8;
}
.hero .text a{
    background-color: #fff;
    border-radius: 50px;
    font-size: 14px;
    color: var(--second-grey-color);
    width: fit-content;
}
.hero .img img{
    width: 450px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:1022px) {
    .hero .text h1{
        font-size: 30px;
    }
}
@media (max-width:992px) {
    .hero .img img{
        width: 300px;
    }
}
@media (max-width:776px) {
    .hero{
        flex-direction: column;
        padding-top: 20px;
        height: 800px;
    }
    .hero .text{
        align-items: center;
        padding-left: 0;
    }
    .hero .text .desc{
        flex-direction: column;
    }
    .hero .img img{
        width: 450px;
    }
}
@media (max-width:563px){
    .hero{
        height: 600px;
    }
    .hero .text h1{
        font-size: 20px;
    }
    .hero .img img{
        width: 250px;
    }
}