.speciality-container{
    width: 600px;
    margin: auto;
}
.speciality-container a:hover{
    transform: translateY(-10px);
    transition: transform .3s ease-in-out;
}
.speciality-container img{
    width: 100px;
}
.speciality-container p{
    font-size: 12px;
    color: var(--titles-color);
}
@media (max-width:776px){
    .speciality-container{
        flex-direction: column;
        gap: 20px !important;
    }
    .speciality-container{
        width: 100%;
    }
}